* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden !important;
}

.main-header {
    width: 100% !important;
    height: 100vh;
    padding: 10px 200px;
    background: url(https://hongqiuzbekistan.uz/assets/images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.main-header .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 130px;
    font-size: 18px;
}

.main-header .content .main-header__logo img {
    width: 30px;
}

.main-header .content .main-header__items {
    display: flex;
    list-style: none;
}

.main-header li.active {
    color: #ffff;
}

.main-header .main-header__item {
    margin-left: 10px;
    margin-right: 10px;
    color: #abacac;
    transition: all .3s;
    cursor: pointer;
    font-weight: 500;
}

.main-header__item:hover {
    color: #ffff;
}

.main-header .main-header__btn button {
    padding: 10px 20px;
    font-weight: 700;
    cursor: pointer;
    background: #ffff;
    border: none;
    font-size: 17px;
}

.main-header .main-header__btn i {
    color: #fff;
    display: none;
}

.main-header .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header .text h1 {
    font-size: 50px;
    color: #ffff;
    margin-top: 400px;
}

.main-header .text p {
    color: #fff;
    font-size: 18px;
    margin-top: 5px;
}

/* Page one styles */
.page-one {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.page-one .text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-one h2 {
    font-size: 2.5rem;
}

.page-one .pharagraph {
    font-size: 20px;
    margin-top: 5px;
}

.page-one .btn {
    font-size: 18px;
    margin-top: 5px;
    padding: 10px 20px;
    border: none;
    background: #212529;
    color: #fff;
}

.page-one .btn:after {
    content: ">";
    text-align: center;
}

.page-one .text-2 {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.page-one .text-2  h1 {
    font-size: 65px;
}

.page-one .text-2  h1 span {
    color: rgb(25, 135, 84);
}

.page-one .text-2  h3 {
    font-size: 20px;
    color: rgb(108, 108, 125);
    margin-bottom: 20px;
}

.page-one .three-img {
    width: 100%;
    padding: 10px 180px;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
}

.page-one .three-img img {
    width: 30%;
    height: 250px;
    margin-left: 20px;
}

.page-one .text-3 {
    width: 100%;
    font-weight: 700;
    padding: 10px 200px;
}

.page-one .text-3 p {
    color: #5F6265;
    font-weight: 500;
}

.page-one .text-img {
    width: 100%;
    padding: 10px 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-one .b img {
    width: 140% !important;
}

.page-one .b p {
    width: 150% !important;
    padding: 0 !important;
}

.page-one .text-img h1 {
    font-size: 65px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.page-one .two {
    width: 100%;
    padding: 0 !important;
}

.page-one .two img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 800px;
}

.page-one .two .flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-one .two .flex span {
    margin-left: 20px;
    margin-bottom: 30px;
}

.page-one .two .flex span:nth-child(1) {
    color: #ACACAC;
}

.page-one .two .flex span:nth-child(2) {
    background: #EFEFF2;
    padding: 8px 20px;
    border-radius: 20px;
}

.page-one .fashionable {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-one .fashionable .review-btn {
    background: #EFEFF24D;
    padding: 18px 200px;
    border-radius: 2rem;
    margin-top: 3rem;
}

.page-one .fashionable select {
    display: none;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 30px;
    border: 1px solid #dee2e6;
}

.page-one .fashionable .review-btn span {
    color: #999999;
    font-weight: 700;
    margin-left: 50px;
}

.page-one .fashionable .review-btn span.active {
    color: #000;
    background: #EFEFF2;
    padding: 10px 20px;
    border-radius: 30px;
}

.page-one .fashionable .text-4 {
    margin-top: 120px;
}

.page-one .fashionable .text-4 h1 {
    font-size: 65px;
}

.page-one .fashionable .text-4 .flex {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.page-one .text-4 .flex span {
    padding: 0 45px;
    margin-bottom: 30px;
    color: #999999;
}

.page-one .text-4 .flex span.active {
    color: #000;
    font-weight: 700;
    background: #EFEFF2;
    padding: 10px 20px;
    border-radius: 30px;
}

.page-one .fashionable .cards {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-one .fashionable .and {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.page-one .fashionable .and .card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    margin: 10px 7px;
}

.page-one .fashionable .and .card-1 img {
    width: 100%;
    height: 210px !important;
}

.page-one .fashionable .and .card-1 h1 {
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: .5rem;
    line-height: 1.2;
    color: #212529;
}

.page-one .fashionable .and .card-1 p {
    margin-bottom: 1rem;
}

.page-one .fashionable .cards .card-1 button {
    background: #212529;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
}

.end {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
    padding: 30px 0;
}

.end .img-div {
    width: 110px;
}

.end .img-div img {
    width: 100%;
}

.end h1 {
    font-size: 65px;
    font-weight: 700;
}

.end h3 {
    color: #6C757D;
    font-weight: 500;
    font-size: 1.5rem;
}